/* added image in div section */
body {
    /* margin: 25px 75px;
    padding: 10px 15px; */
    background: #FFF;

}

#hnr {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400px;
    line-height: 95px;
    padding: 140px 18px 2px 4px;
    margin-bottom: 0px;
  
}
.first-text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 18px 400px 0px 300px;
}


div {
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    /* background-color: #070211, #07021100; */
}

.banner {
    background-image: url("../year.png");
    width: 1200px;
    height: 600px;
    
}
.banner p {
    color: black;
}
.third-section{
    margin-left: 150px;
}
.third{
    display: flex;
}
.third-img img{
width: 200px;
margin-left: 300px;
margin-top: 50px;
}

.third{
    background-image: url("../vector.png");
    width: 1300px;
    color: #FFF;
       
}
.third-section-text{
    color: #FFF;
    font-size: 69px;
    
}
/* second div related css */
.second-bnr img {
    margin-left: 90px;
   
}

.second-bnr-pers {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
   



}

#ohd {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    padding: inherit;
}

#ac {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: inherit;
}

#sa {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    padding: 20px 0px 5px 150px;
}


.third-bnr img {
    width: 1320px;
}


.third-bnr{
    height: 600px;
    width: 1350px;
    background-color: aqua; 
}

#wtm {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
   
    letter-spacing: 7.04px;
   
    padding: 0px 0px 0px 10px;
    margin: 25px;
    

}
.shedual{
    background: linear-gradient(180deg, #f4ce86 0%, rgba(249, 189, 241, 0) 100%);
width: 1300px;
height: 300px;
padding-top: 50px;
      
}

 .btnn{
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    padding: 5px;
    
 }
 .func{
    font-family: Inter;
    font-size: 75px;
 }
 .holy{
   
    color: #F00;
 }
 .products{
    color: #F00;
 }
 .funcc{
    font-family: Inter;
    font-size: 60px;
 }
#dsa {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
   
    width: 697px;
    padding: 0px 0px 60px 0px;

}

#join {
    color: #FFF;
 
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
   
    text-transform: uppercase;
 
}


 .detais{
    display: flex;
    margin-left: 100px;
 } 

.detais-img img{
width: 200px;
border-radius: 463px;
border: 15px solid #F00;
margin-left: 150px;
} 
.detais-tt{
margin-left: 150px;
}
.product {
    display: flex;
    margin-left: 120px;
    margin-top: 30px;

}

.product img {
    width: 300px;
    margin-left: 30px;
}

.foterr {
    background: #070211;
    height: 400px;
    width: 1290px;
    color: white;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.serchber{
    font-size: 50px;

}
.social img {
    width: 40px;

}

 .address {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .address p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0px 50px 0px 40px;

}