/* added image in div section */
body {
    margin: 25px 75px;
    padding: 10px 15px;
   

}

p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400px;
    line-height: 95px;
    padding: 140px 18px 2px 4px;
    margin-bottom: 0px;
}

h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 18px 400px 0px 300px;
}


div {
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    /* background-color: #070211, #07021100; */
}

.banner {
    background-image: url("../year.png");
    width: 1320px;
    height: 600px;
    /* color: #070211, #07021100; */

}