/* added image in div section */
body {
    margin: 25px 75px;
    padding: 10px 15px;


}

p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400px;
    line-height: 95px;
    padding: 140px 18px 2px 4px;
    margin-bottom: 0px;
}

h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 18px 400px 0px 300px;
}


div {
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    /* background-color: #070211, #07021100; */
}

.banner {
    background-image: url("../year.png");
    width: 1320px;
    height: 600px;
    /* color: #070211, #07021100; */

}

/* second div related css */
.second-bnr {
    background: #FFF;
    width: 1600px;
    height: 7335px;
    padding-right: 400px;

}

#off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
    padding-right: 400px;




}

#ohd {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    padding: inherit;
}

#ac {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: inherit;
}
#sa{
    width: 802.9px;
height: 500px;
flex-shrink: 0;
padding: 20px 0px 5px 150px;
}